---
title: Articles
---

{% include head.html %}

<body>

  <div class="row">

      <div class="large-6 large-offset-3 columns">

        <div class="content-section">
          <h2>Articles</h2>
        </div>

        <main>

          <div>

            {% for article in site.articles reversed %}

              <div class="post-post">
                <small> {{ article.date | date: "%b %Y" }}</small>
                <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>

                <p> {{ article.description }} </p>


                <hr />
              </div>
            {% endfor %}
          </div>

        </main>
    </div>

  </div>



</body>



