<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-NKLM3WSGRC"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-NKLM3WSGRC');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} | {{ site.tagline }}
    {% else %}
      {{ page.title }} | {{ site.title }}
    {% endif %}
  </title>

  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.png">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/atom.xml">
  {% feed_meta %}
  {% seo %}
  <meta name="image" property="og:image" content="/public/newbanner.png">
<!--   <meta name="title" property="og:title" content="Nandu Rajagopala">
  <meta name="description" property="og:description" content="Product Manager | Solving company and customer problems"> -->

  {% if page.description %}
    <meta name="description" content="{{ page.description }}">
  {% else %}
    <meta name="description" property="og:description" content="Product Manager | Solving company and customer problems">
  {% endif %}

  {% if page.title && page.title != "Home" %}
    <meta name="title" content="{{ page.title }}">
  {% else %}
    <meta name="title" property="og:title" content="Nandu Rajagopala">
  {% endif %}
</head>


