.article-text {
  h3, p {
    font-size: 15px;
  }
  p {
    color: black;
    margin: 20px 0 0 0;
    line-height: 1.9;
  }
  ul li {
    display: inline-block;
    padding-right: 10px;
    margin-top: 10px;
  }
}

.content-section p {
  line-height: 2;
}
