// Layout
//
// Styles for managing the structural hierarchy of the site.

.social {
  ul {
    @include bp-small {
      text-align: center;
    }
    @include bp-medium {
      text-align: center;
    }
  }
  li {
    margin-bottom: 0.75em;
    @include bp-small {
      display: inline-block;
      padding-right: 1em;
    }
    @include bp-medium {
      display: inline-block;
      padding-right: 1em;
    }
  }
  i {
    font-size: 28px;
  }
}

footer {
  margin: 2em 0;
  h2 {
    margin-bottom: 1em;
    font-size: 22px;
  }
  p {
    font-size: 18px;
    line-height: 2;
  }
  .copyright {
    margin-top: 2em;
    color: #d1d1d1;
    line-height: 1.75;
    font-size: 14px;
    @include bp-small {
      text-align: center;
    }
    @include bp-medium {
      text-align: center;
    }
    a {
      color: #d1d1d1;
    }
  }
}

#form-box {
  border: solid 1px grey;
  border-radius: 20px;
  padding:8px;
  width: 250px;
  text-align: center;
  margin: 0px 0px 0px 0px;
  font-size: 14px;
  // margin-top: 5px;
  // margin-bottom: 0px;
  padding-right: 50px;
}

input::placeholder {
  color: $gray-2;
  font-size: 14px;
}

#subscribe-button {
  background-color: #e0e0e0;
  border: solid 1px grey;
  // border-left-color: transparent;
  border-radius: 0px 20px 20px 0px;
  width: 100px;
  justify-content: center;
  display: inline-block;
  text-align: center;
  color:$gray-4;
  font-size: 14px;
  margin-left:-50px;
}
