.masthead {
  padding: 1rem 0;
  margin: 2rem 0;
  img {
    width: 200px;
    border-radius: 50%;
    margin: 0 auto;
    display: table;
  }
}

.masthead2 {
  padding: 1rem 0;
  margin: 2rem 0;
  img {
    width: 80px;
    border-radius: 50%;
    margin: 0 auto;
    display: table;
  }
}
